.homePageWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}
.formWrapper{
    background-color: #021a40;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

footer{
    position: fixed;
    bottom: 0;
}

footer a{
    color: rgb(0, 212, 212);
    transition: all ease-in 0.1s;
}
footer a:hover{
    color: rgb(2, 255, 255);
    text-shadow: 5px 5px 50px rgb(0, 255, 255);
}

.inputGroup{
    display: flex;
    flex-direction: column;
}
.mainLabel{
    margin-bottom: 20px;
    margin-top: 0;
}

.homePageLogo{
    height: 60px;
    margin-bottom: 30px;
}
.inputBox{
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 10px;
    background: rgb(238, 238, 238);
    font-size: 16px;
    font-weight: bold;
}

.btn{
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: all ease-in-out 0.3s;
    
}
.joinBtn{
    background-color: rgb(0, 212, 212);
    width: 100px;
    margin-left: auto;
}
.joinBtn:hover{
    background-color: rgb(1, 255, 255);
}
.createInfo{
    margin-top: 15px;
    text-align: center;
}

.createNewBtn{
    color:rgb(0, 212, 212);
    text-decoration: none;
}
.createNewBtn:hover{
    color: rgb(1, 255, 255);
    /* text-decoration:underline; */
    border-bottom: 1px solid rgb(1, 255, 255);
}


.mainWrap{
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.aside{
    padding: 16px;
    color: white;
    background-color: #021a40;
    display: flex;
    flex-direction: column;
}

.asideInner{
    flex: 1;
}

.clientList{

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.client{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;

}

.userName{
    margin-top: 10px;
}

.logo{
    border-bottom: 2px solid #000f26;
    padding-bottom: 10px;
}

.editorLogo{
    height: 55px;
}

.leaveBtn{
    background-color: rgb(0, 212, 212);
    width: 100%;
    margin-top: 20px;
}

.leaveBtn:hover{
    background-color: rgb(1, 255, 255);
}

.CodeMirror{
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}